* {
  margin: 0px;
  padding: 0px;
}

/* common style  */

main {
  max-width: 1320px;
  margin: 0px auto;
}

section {
  margin: 120px 0px;
}
/* banner section  */

.banner {
  border-radius: 30px;
  margin: 50px auto;
  padding: 160px 340px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
}

.banner h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}

.banner h2 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

.btn-primary {
  padding: 18px 35px;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 700;
  background-color: #f00;
  color: white;
  border: none;
}

/* featured section  */

.featured-section {
  margin: 120px 140px;
  font-family: inter;
  text-align: center;
}

.featured-titl-main {
  max-width: 1320px;
  margin: 0px auto;
}

section {
  margin: 120px 0px;
}
h1 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.featured-title h4 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.featured-title h2 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

/* welcome banner section  */

.welcome-banner {
  border-radius: 30px;
  margin: 120px auto;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
}

.text-section {
  padding: 126px 40px 140px 126px;
}

.text-section h2 {
  font-family: Merriweather;
  color: white;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 20px;
}

.text-section p {
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.banner-image {
  padding: 68px 138px 68px 0px;
}

/* meeting place  */

.meeting-place {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 380px;
  text-align: center;
  border-radius: 30px;
}

.meeting-place h3 {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 38px;
}

.meeting-text-color {
  color: black;
}

/* best offers section */

.offers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0px 140px; */
  gap: 10px;
}

.left-text-area {
  width: 30%;
}

.left-text-area h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}

.left-text-area h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding-bottom: 22px;
}

.left-text-area p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.image-area {
  width: auto;
}
.image-area img {
  padding: 25px;
  border: 16px solid red;
  border-radius: 50%;
}

.right-text-area {
  width: 30%;
}

.right-text-area h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 16px;
}

.right-text-area p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 48px;
}

/* portfolio section  */

.portfolio-text-area {
  padding-right: 564px;
}

.portfolio-text-area h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 16px;
}

.portfolio-text-area h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding-bottom: 22px;
}

.portfolio-text-area p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 48px;
}

.portfolio-image-area {
  display: flex;
}

.image-area-colum img {
  width: 424px;
  height: 450px;
  flex-shrink: 0;
}

#box-padding-down {
  padding-bottom: 24px;
}

#box-padding-right {
  padding-right: 24px;
}

#box-padding-left {
  padding-left: 24px;
}

/* newslatter section  */

.newslatter-container {
  padding: 80px 212px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

#news-image {
  display: block;
  margin: 0 auto 40px auto;
}

.newslatter-container .text-area h2 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.newslatter-container .text-area P {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
}

#email-input {
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding: 25px 267px 25px 30px;
  border-style: none;
  background-color: #fff;
  border-radius: 50px 0px 0px 50px;
}

#email-input:focus {
  outline: none;
}

#subscribe-input {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 24px 56px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border-style: none;
}

.subscribe-input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

/* footer area  */

.footer-area {
  padding: 120px 140px;
  background: #070211;
}

.top-text-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
#text-1 {
  width: 500px;
}

.footer-text-color {
  color: white;
}

.right-text-area li {
  list-style: none;
  margin-bottom: 10px;
}

#footer-icons {
  margin-right: 20px;
  margin-bottom: 10px;
}

.footer-hr {
  background: rgba(255, 255, 255, 0.15);
  opacity: 15%;
}

.footer-image-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px auto;
}

.buttom-text-area {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
