main {
  max-width: 1320px;
  margin: 140px auto;
}

.btn-primary {
  padding: 18px 35px;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 700;
  background-color: #f00;
  color: white;
  border: none;
}

/* banner section  */
.banner {
  max-width: 1320px;
  margin: 50px auto;
}

.banner-title {
  border-radius: 30px;
  padding: 120px 344px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("/resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  align-items: center;
}

.banner h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 0px;
  padding-top: 20px;
}

.banner h2 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

/* featured section  */

.featured-section {
  font-family: inter;
  text-align: center;
}

.featured-title h1 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.featured-title h4 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.featured-title h2 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

/* welcome banner section  */

.welcome-banner {
  border-radius: 30px;
  padding: 68px 130px;
  margin: 120px auto;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("/resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
}

.welcome-banner-title {
  font-family: Merriweather;
  color: white;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 20px;
}

.welcome-banner-info {
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

/* meeting place  */

.meeting-place {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 380px;
  text-align: center;
  border-radius: 30px;
}

.meeting-place h3 {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 38px;
}

.meeting-text-color {
  color: black;
}

/* best offers  */

.best-offers {
  display: flex;
  justify-content: space-around;
}

#best-offers-heading {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

#best-offers-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

#best-offers-info {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.circle {
  border: 20px solid red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  width: 364x;
  height: 364px;
  border-radius: 50%;
  padding: 20px;
}

.best-offers-column h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.best-offers-column p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
